@import url("https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Public Sans", sans-serif;
}

#main {
  overflow-x: hidden;
  z-index: 10;
  position: relative;
}

body {
  height: 100%;
  width: 100%;
}

/* ----------------------page 1----------------------  */
#page1 {
  min-height: 100vh;
  width: 100%;
  background-color: #efeae3;
  position: relative;
  padding: 0 2vw;
}

nav p {
  display: none;
}

nav {
  padding: 2vw 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 100;
}

#nav-links {
  display: flex;
  align-items: center;
  gap: 1vw;
}

#nav-links h4 {
  padding: 10px 20px;
  border: 1px solid #8a8a8a89;
  border-radius: 50px;
  color: #000000bb;
  font-size: 18px;
  font-weight: 500;
  position: relative;
  transition: all ease 0.4s;
  overflow: hidden;
}

#nav-links h4::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #000000ea;
  left: 0;
  bottom: -100%;
  border-radius: 50%;
  transition: all ease 0.4s;
}

#nav-links h4:hover::after {
  bottom: 0;
  border-radius: 0;
}

#nav-links h4 a {
  color: #000000bb;
  text-decoration: none;
  position: relative;
  z-index: 9;
}

#nav-links h4:hover a {
  color: #fff;
}

#open-menu {
  height: 100vh;
  width: 100%;
  background-color: #00000070;
  position: fixed;
  z-index: 99;
  top: -100%;
  transition: all ease 0.8s;
}

#open-menu #menu1 {
  height: 60%;
  width: 100%;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: #efeae3;
  color: #000;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  padding-bottom: 2vh;
  padding-right: 2vh;
  font-size: 25px;
}

#center {
  height: 32vw;
  width: 100%;
  align-items: end;
  display: flex;
  justify-content: space-between;
  padding: 2vw;
  border-bottom: 1px solid #8a8a8a89;
  padding-bottom: 2.5vw;
}

#left p {
  width: 30vw;
  font-size: 1.8vw;
  line-height: 2vw;
  font-weight: 600;
}

#right h1 {
  font-size: 10vw;
  line-height: 8vw;
  text-align: right;
}

#page1 video {
  width: 100%;
  margin-top: 4vw;
  border-radius: 20px;
  position: relative;
}

#hero-blur {
  /* overflow-x: hidden; */
  position: absolute;
  width: 50vw;
  height: 36vw;
  right: -5%;
  top: 78vh;
}

#hero-1 {
  background-color: #fe320a;
  height: 100%;
  width: 100%;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  filter: blur(10px);
  position: absolute;
}

#hero-2 {
  background-color: #fe320a;
  height: 40vw;
  width: 30vw;
  border-radius: 50%;
  filter: blur(25px);
  position: absolute;
  animation: anim2 3s linear infinite alternate;
}
#hero-3 {
  background-color: #fe320a;
  height: 40vw;
  width: 30vw;
  border-radius: 50%;
  filter: blur(25px);
  position: absolute;
  animation: anim1 3s linear infinite alternate;
}

@keyframes anim1 {
  from {
    transform: translate(50%, -3%);
  }
  to {
    transform: translate(0%, 10%);
  }
}

@keyframes anim2 {
  from {
    transform: translate(20%, -8%);
  }
  to {
    transform: translate(-10%, 20%);
  }
}

/* ---------------------page 2--------------------------  */

#page2 {
  padding: 8vw 0;
  min-height: 100vh;
  width: 100%;
  background-color: #efeae3;
  position: relative;
}

#moving-text {
  white-space: nowrap;
  overflow-x: auto;
}

#moving-text h1 {
  font-size: 8vw;
  display: inline-block;
}

#moving-text::-webkit-scrollbar {
  display: none;
}

.circle {
  height: 55px;
  width: 55px;
  border-radius: 50%;
  background-color: #fe320a;
  display: inline-block;
  margin: 0.7vw 2vw;
}

.text {
  white-space: nowrap;
  display: inline-block;
  animation: text-move 12s linear infinite;
}

@keyframes text-move {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

#page2-bottom {
  height: 40vw;
  width: 100%;
  padding: 4.5vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 9;
}

#page2-bottom h1 {
  font-size: 4vw;
  width: 60%;
  line-height: 4vw;
}

#bottom-2 {
  width: 20%;
}

#bottom-2 img {
  width: 100%;
  border-radius: 15px;
}

#bottom-2 p {
  font-weight: 200;
  margin-top: 2vw;
  font-size: 1vw;
}

#blur-shape {
  height: 30vw;
  width: 30vw;
  position: absolute;
  border-radius: 50%;
  background: linear-gradient(to top right, #fe320a, #fe670a);
  top: 60%;
  left: 25%;
  filter: blur(20px);
  animation-name: moving-circle;
  animation-iteration-count: infinite;
  animation-duration: 5s;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}

@keyframes moving-circle {
  from {
    filter: blur(20px);
    transform: translate(10%, -10%) skew(0);
  }
  to {
    filter: blur(30px);
    transform: translate(-10%, 10%) skew(-12deg);
  }
}

/* -------------------------page 3 -------------------------- */

#page3 {
  min-height: 100vh;
  width: 100%;
  background-color: #efeae3;
  padding: 2vw 0;
}

#page-title {
  display: flex;
  align-items: center;
  padding: 3vw 2vw;
}

#page-title p {
  font-weight: 200;
  font-size: 15px;
}

#small-dot {
  height: 9px;
  width: 9px;
  border-radius: 50%;
  background-color: #fe320a;
  display: inline-block;
  margin: 0vw 0.5vw;
}

.elements {
  cursor: pointer;
  height: 120px;
  width: 100%;
  position: relative;
  border-bottom: 0.5px solid #8a8a8a89;
  display: flex;
  align-items: center;
  padding: 0 2vw;
  overflow: hidden;
}

.elements h2 {
  font-size: 3.5vw;
  position: relative;
  z-index: 9;
}

.elements .overlay {
  height: 100%;
  width: 100%;
  background-color: #fe940a;
  position: absolute;
  left: 0;
  top: -100%;
  transition: all ease 0.3s;
}

.elements img {
  display: none;
}

.elements:hover .overlay {
  top: 0%;
}

#fixed-img {
  height: 29vw;
  width: 24vw;
  position: fixed;
  z-index: 99;
  top: 25%;
  left: 50%;
  display: none;
  border-radius: 10px;
  background-size: cover;
  background-position: center;
  pointer-events: none;
}

/* --------------------------page 4 ----------------------- */

#page4 {
  min-height: 110vh;
  width: 100%;
  background-color: #efeae3;
  padding: 4vw 2vw;
}

#center1 {
  height: 50vw;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 4vw;
  background-color: black;
  color: #fff;
  border-radius: 20px;
  position: relative;
}

.left-side {
  position: absolute;
  left: 0;
  padding-left: 4vw;
}

.left-side-heading {
  padding-left: 2vw;
}

.left-side-heading h2 {
  font-size: 60px;
}

.left-side-heading::before {
  content: "";
  position: absolute;
  height: 15vw;
  width: 2px;
  background-color: #fe320a;
  left: 4vw;
}

.left-side-para {
  padding: 2vw 0;
  width: 30vw;
}

.left-side-para p {
  padding-right: 3vw;
  font-weight: 200;
  font-size: 15px;
}

.right-side {
  width: 51vw;
  background-size: cover;
  background-position: center;
  right: 0;
  position: absolute;
  top: 0;
  bottom: 0;
}

.right-side img {
  height: 100%;
  width: 100%;
  border-radius: 20px;
}

/* -------------------------page 5 -------------------------- */

#page5 {
  height: 100vh;
  width: 100%;
  background-color: #efeae3;
  padding: 6vw 2vw 5vw;
}

/* --------------swiper js code---------------------  */

.swiper {
  width: 100%;
  height: 90%;
}

.swiper-wrapper {
  left: -25vw;
}

.swiper-slide {
  border-left: 0.5px solid #bcbaba;
  height: fit-content;
  width: 30%;
  padding: 0 2vw;
}

.swiper-slide p {
  padding-top: 2vw;
  width: 70%;
  font-weight: 300;
}

/* ----------------------page 6 ------------------------ */

#page6 {
  height: 100vh;
  width: 100%;
}

#footer {
  height: 60vw;
  width: 100%;
  background-color: #000;
  position: fixed;
  bottom: 0;
  z-index: 9;
  color: #fffffff0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 1vw 3vw 0.5vw;
}

#footer h1 {
  font-size: 21vw;
}

#footer-div {
  height: 30vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1vw 4vw;
  z-index: 1;
}

#footer-div #footer-elem1 h2 {
  font-size: 2.2vw;
}

#footer-bottom {
  border-top: 0.5px solid #dadada;
  width: 100%;
  padding: 2vw 2vw 0;
}

#footer-btm-1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#footer-btm-2 {
  font-size: 2vh;
  margin-top: 2vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.shape-blur1 {
  height: 30vw;
  width: 30vw;
  position: absolute;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  background-color: #fe670a;
  top: -8vw;
  left: -8%;
  filter: blur(30px);
  animation-name: moving-circle;
  animation-iteration-count: infinite;
  animation-duration: 5s;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}

.shape-blur2 {
  height: 25vw;
  width: 50vw;
  position: absolute;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  background-color: #fe670a;
  top: -8vw;
  left: 10%;
  filter: blur(30px);
  animation-name: moving-circle;
  animation-iteration-count: infinite;
  animation-duration: 5s;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}

.shape-blur3 {
  height: 27vw;
  width: 50vw;
  position: absolute;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  background-color: #fe670a;
  top: -8vw;
  left: 45%;
  filter: blur(30px);
  animation-name: moving-circle;
  animation-iteration-count: infinite;
  animation-duration: 5s;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}

.shape-blur4 {
  height: 35vw;
  width: 35vw;
  position: absolute;
  border-bottom-left-radius: 40%;
  background-color: #fe670a;
  top: -8vw;
  right: -10%;
  filter: blur(30px);
  animation-name: moving-circle;
  animation-iteration-count: infinite;
  animation-duration: 5s;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}

/* ---------------------media queries--------------------------------*/

@media (max-width: 479px) {
  /* --------page 1 -------------- */

  #page1 {
    padding: 0;
  }

  nav {
    padding: 8vw 5vw;
    background-color: #efeae3;
  }

  nav img {
    height: 13vw;
    transition: all ease 0.2s;
  }

  #nav-links {
    display: none;
  }

  nav p {
    display: block;
    padding: 2vw 5vw;
    font-size: 35px;
    font-weight: 300;
  }

  #center {
    min-height: 68vh;
    padding: 8vw 0;
    flex-direction: column-reverse;
    padding: 5vw 5vw;
    position: relative;
    z-index: 9;
  }

  #left p {
    width: 70%;
    font-size: 4vw;
    line-height: 4vh;
    font-weight: 700;
  }

  #right h1 {
    font-size: 64px;
    line-height: 10vh;
  }

  #page1 video {
    object-fit: cover;
    object-position: center;
    margin-left: 4%;
    height: 70vh;
    width: 92%;
  }

  #hero-blur {
    width: 80vw;
    height: 76vw;
    top: 70vh;
    right: -5%;
  }

  /* ------------page 2 -------------- */

  #moving-text h1 {
    font-size: 14vw;
  }

  #moving-text::-webkit-scrollbar {
    display: none;
  }

  .circle {
    height: 25px;
    width: 25px;
    margin: 2vw 2vw;
  }

  #page2-bottom {
    min-height: 80vh;
    padding: 20vw 4vw;
    align-items: flex-start;
    flex-direction: column;
    margin-bottom: 50vw;
  }

  #page2-bottom h1 {
    font-size: 7vw;
    width: 100%;
    line-height: 5vh;
    padding-bottom: 18vw;
  }

  #bottom-2 {
    width: 70%;
  }

  #bottom-2 img {
    border-radius: 10px;
  }

  #bottom-2 p {
    font-size: 3.5vw;
  }

  #blur-shape {
    height: 80vw;
    width: 80vw;
    left: 25%;
  }

  /* --------------page 3------------------- */

  #page3 {
    min-height: 100vh;
    width: 100%;
    background-color: #efeae3;
    padding: 4vw 0;
  }

  #page-title p {
    font-size: 13px;
  }

  #small-dot {
    height: 7px;
    width: 7px;
  }

  .elements {
    height: fit-content;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 5vh;
    padding-bottom: 4vh;
    border-bottom: none;
  }

  .elements img {
    display: block;
    height: 100vw;
    width: 85vw;
    border-radius: 20px;
    /* transition: all ease 0.3s; */
    /* overflow: hidden; */
  }

  /* .elements img:hover {
    filter: blur(2px);
  } */


  .elements h2 {
    font-size: 5.5vw;
    position: relative;
    z-index: 9;
  }

  .elements .overlay {
    display: none;
  }

  /* ---------------page 4--------------- */

  #page4 {
    min-height: 100vh;
    padding: 5vw 5vw;
  }

  #center1 {
    height: 100vh;
    position: relative;
    flex-direction: column;
    width: 100%;
  }

  .left-side-heading {
    padding-left: 3vh;
  }

  .left-side-heading h2 {
    font-size: 6vh;
  }

  .left-side-heading::before {
    content: "";
    position: absolute;
    height: 20vh;
    width: 2px;
    background-color: #fe320a;
    left: 5vh;
  }

  .left-side {
    width: 100%;
    left: 0;
    height: 50vh;
    padding: 5vh 5vh;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }

  .left-side-para p {
    padding-top: 1.5vh;
    padding-right: 4vh;
    width: 80vw;
    font-size: 11.5px;
  }

  .right-side {
    top: 50vh;
    bottom: 0;
    width: 100%;
    background-position: center;
  }

  /* --------------------page 5 ------------------- */

  #page5 {
    height: 60vh;
  }

  /* swiper js style code  */

  .swiper {
    padding: 10vw 0;
    height: 100%;
  }

  .swiper-wrapper {
    left: 2vw;
  }

  .swiper-slide {
    height: fit-content;
    width: 85%;
    padding: 2vw 5vw;
  }

  .swiper-slide p {
    padding-top: 2vw;
    width: 100%;
  }

  /* -------------------page 6 / footer--------------- */

  #footer-div {
    height: 60vh;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-direction: column;
    padding: 0 4vw;
  }

  #footer-div #footer-elem1 h2 {
    font-size: 8vw;
  }

  #footer-bottom {
    width: 100%;
    padding: 2vw 2vw 0;
  }

  #footer-btm-1 {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
  }

  #footer-btm-2 {
    font-size: 2vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 767px) and (min-width: 479px) {
  #open-menu #menu1 {
    height: 70%;
    width: 100%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: #efeae3;
    color: #000;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    padding-bottom: 2vh;
    padding-right: 2vh;
    font-size: 30px;
  }

  #page1 {
    padding: 0;
  }

  nav {
    padding: 5vw 2vw;
    background-color: #efeae3;
  }

  nav img {
    height: 9vw;
    transition: all ease 0.2s;
  }

  #nav-links {
    display: none;
  }

  nav p {
    display: block;
    padding: 1vw 5vw;
    font-size: 40px;
    font-weight: 300;
  }


  #center {
    min-height: 80vh;
    padding: 8vw 0;
    flex-direction: column-reverse;
    padding: 5vw 5vw;
    position: relative;
    z-index: 9;
  }

  #left p {
    width: 70%;
    font-size: 3vw;
    line-height: 4vh;
    font-weight: 700;
  }

  #right h1 {
    font-size: 80px;
    line-height: 12vh;
  }

  #page1 video {
    object-fit: cover;
    object-position: center;
    margin-left: 4%;
    height: 50vh;
    width: 92%;
  }

  #hero-blur {
    width: 80vw;
    height: 76vw;
    top: 70vh;
    right: -5%;
  }

  #moving-text h1 {
    font-size: 11vw;
  }

  #moving-text::-webkit-scrollbar {
    display: none;
  }

  .circle {
    height: 40px;
    width: 40px;
    margin: 1vw 2vw;
  }

  #page2-bottom {
    min-height: 80vh;
    padding: 20vw 4vw;
    align-items: flex-start;
    flex-direction: column;
    margin-bottom: 50vw;
  }

  #page2-bottom h1 {
    font-size: 5vw;
    width: 90%;
    line-height: 5vh;
    padding-bottom: 18vw;
  }

  #bottom-2 {
    width: 60%;
  }

  #bottom-2 img {
    border-radius: 10px;
  }

  #bottom-2 p {
    font-size: 2.5vw;
  }

  #blur-shape {
    height: 80vw;
    width: 80vw;
    left: 25%;
  }

  #page3 {
    min-height: 100vh;
    width: 100%;
    background-color: #efeae3;
    padding: 4vw 2vw;
  }

  .elements {
    height: fit-content;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 3vh;
    padding-bottom: 3vh;
    border-bottom: none;
  }

  #elem-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
  }

  .elements img {
    display: block;
    height: 50vw;
    object-fit: cover;
    width: 40vw;
    border-radius: 20px;
  }

  .elements h2 {
    font-size: 3vw;
    position: relative;
    z-index: 9;
  }

  .elements .overlay {
    display: none;
  }

  #page4 {
    min-height: 100vh;
    padding: 5vw 5vw;
  }

  #center1 {
    height: 140vh;
    position: relative;
    flex-direction: column;
    width: 100%;
  }

  .left-side-heading {
    padding-left: 4vh;
  }

  .left-side-heading h2 {
    font-size: 7vh;
  }

  .left-side-heading::before {
    content: "";
    position: absolute;
    height: 24vh;
    width: 2px;
    background-color: #fe320a;
    left: 8vh;
  }

  .left-side {
    width: 100%;
    left: 0;
    height: 60vh;
    padding: 5vh 8vh;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }

  .left-side-para p {
    padding-top: 1vh;
    padding-right: 5vh;
    width: 72vh;
    font-size: 15px;
  }

  .right-side {
    top: 60vh;
    bottom: 0;
    width: 100%;
    background-position: center;
  }

  #page5 {
    height: 70vw;
  }

  /* swiper js style code  */

  .swiper {
    height: 100%;
    padding: 10vw 0;
  }

  .swiper-wrapper {
    left: -10vw;
  }

  .swiper-slide {
    height: fit-content;
    width: 55%;
    padding: 2vw 5vw;
  }

  .swiper-slide p {
    font-size: 14px;
    padding-top: 2vw;
    width: 100%;
  }

  #page6 {
    height: 60vw;
  }

  #footer {
    height: 60vw;
  }

  #footer-div {
    height: 50vw;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1vw 4vw;
    z-index: 1;
  }

  #footer-div #footer-elem1 h2 {
    font-size: 4vw;
  }

  #footer-bottom {
    width: 100%;
    padding: 2vw 2vw 0;
  }

  #footer-btm-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  #footer-btm-2 {
    font-size: 2vh;
    margin-top: 2vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 1024px) and (min-width: 767px) {
  #page1 {
    padding: 0;
  }

  nav {
    padding: 4vw 2vw;
    background-color: #efeae3;
  }

  nav img {
    height: 7vw;
    transition: all ease 0.2s;
  }

  #center {
    height: 40vw;
    width: 100%;
    align-items: end;
    display: flex;
    justify-content: space-between;
    padding: 2vw;
    border-bottom: 1px solid #8a8a8a89;
    padding-bottom: 6vw;
  }

  #page1 video {
    object-fit: cover;
    object-position: center;
    margin-left: 4%;
    height: 50vw;
    width: 92%;
  }

  .circle {
    height: 40px;
    width: 40px;
    margin: 1vw 2vw;
  }

  #page2 {
    min-height: 80vw;
  }

  #page2-bottom {
    height: 50vw;
    width: 100%;
    padding: 4.5vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 9;
  }

  #page2-bottom h1 {
    font-size: 5vw;
    width: 60%;
    line-height: 5vw;
  }

  #bottom-2 {
    width: 25%;
  }

  #bottom-2 img {
    width: 100%;
    border-radius: 15px;
  }

  #bottom-2 p {
    font-weight: 200;
    margin-top: 2vw;
    font-size: 1.5vw;
  }

  #page3 {
    min-height: 100vh;
    width: 100%;
    background-color: #efeae3;
    padding: 4vw 2vw;
  }

  .elements {
    height: fit-content;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 3vh;
    padding-bottom: 3vh;
    border-bottom: none;
  }

  #elem-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
  }

  .elements img {
    display: block;
    height: 50vw;
    object-fit: cover;
    width: 40vw;
    border-radius: 20px;
  }

  .elements h2 {
    font-size: 3vw;
    position: relative;
    z-index: 9;
  }

  .elements .overlay {
    display: none;
  }

  
#page4 {
  min-height: 60vw;
  width: 100%;
  background-color: #efeae3;
  padding: 4vw 2vw;
}

#center1 {
  height: 50vw;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 4vw;
  background-color: black;
  color: #fff;
  border-radius: 20px;
  position: relative;
}

.left-side {
  position: absolute;
  left: 0;
  padding-left: 3vw;
}

.left-side-heading {
  padding-left: 1vw;
}

.left-side-heading h2 {
  font-size: 40px;
}

.left-side-heading::before {
  content: "";
  position: absolute;
  height: 16.5vw;
  width: 2px;
  background-color: #fe320a;
  left: 3vw;
}

.left-side-para {
  padding: 2vw 0;
  width: 30vw;
}

.left-side-para p {
  padding-right: 3vw;
  font-weight: 200;
  font-size: 12px;
}

.right-side {
  width: 50vw;
  background-size: cover;
  background-position: center;
  right: 0;
  position: absolute;
  top: 0;
  bottom: 0;
}

.right-side img {
  height: 100%;
  width: 100%;
  border-radius: 20px;
}
  

  #page5 {
    height: 60vw;
  }

  /* swiper js style code  */

  .swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-wrapper {
    left: -25vw;
  }

  .swiper-slide {
    height: fit-content;
    width: 30%;
    padding: 0 2vw;
  }

  .swiper-slide p {
    font-size: 13px;
    padding-top: 2vw;
    width: 90%;
    font-weight: 300;
  }

  #page6 {
    height: 60vw;
  }

  #footer-div {
    height: 20vw;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1vw 4vw;
    z-index: 1;
  }

  #footer-div #footer-elem1 h2 {
    font-size: 3.5vw;
  }

  #footer-bottom {
    width: 100%;
    padding: 2vw 2vw 0;
  }

  #footer-btm-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  #footer-btm-2 {
    font-size: 2vh;
    margin-top: 2vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 1200px) and (min-width: 1024px) {
  /* swiper js style code  */

  .swiper {
    width: 100%;
    height: 90%;
  }

  .swiper-wrapper {
    left: -25vw;
  }

  .swiper-slide {
    height: fit-content;
    width: 30%;
    padding: 0 2vw;
  }

  .swiper-slide p {
    font-size: 17px;
    padding-top: 2vw;
    width: 90%;
    font-weight: 300;
  }

}

/* -------------------starting animation--------------------- */

#loader {
  height: 100vh;
  width: 100vw;
  background-color: #000;
  position: fixed;
  z-index: 999;
  top: 0;
  transition: all ease 0.7s;
  display: flex;
  align-items: center;
  justify-content: center;
}

#loader h1 {
  color: transparent;
  position: absolute;
  font-size: 4vw;
  opacity: 0;
  background: linear-gradient(to right, orange, orangered);
  -webkit-background-clip: text;
  animation-name: loading;
  animation-duration: 0.6s;
  animation-delay: 0.6s;
  animation-timing-function: linear;
}

#loader h1:nth-child(2) {
  animation-delay: 1.2s;
}

#loader h1:nth-child(3) {
  animation-delay: 1.8s;
}

@keyframes loading {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@media (max-width: 600px) {
  #loader h1 {
    font-size: 8vw;
  }
}
